<section>
    <nav>
      <div class="text1">
        Discover the world’s top <br> designers & creatives
      </div>
      <div class="text2">Dribbble is the leading destination to find & showcase creative work <br> and home to the world's best design professionals.</div>
      <br>
      <button class="btn signup " type="btn" id="signup" style="background-color: #Ea4c89;">Sign Up</button>
    </nav>
    
    <article>
     <img src="https://cdn.dribbble.com/assets/art-banners/romainbriaux-510w-51a20c877f4deef57fbbb82609ae6d846bcd4129f21e21505371255abb3f2f60.webp" alt="">
    </article>
  </section>
  