<div class="section">
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_5terre.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
      1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
    </span>
      </div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Northern Lights" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen<span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen <span> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>     
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="https://cdn.dribbble.com/users/639645/screenshots/16634599/media/d52a0418c5f6aa42508282240a2175a1.jpg?compress=1&resize=800x600" alt="Mountains" width="600" height="400">
      </a>
      <div class="desc">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">&nbsp;&nbsp;foulen foulen<span class="fa"> <fa-icon [icon]="faHeart"></fa-icon>
        1 <fa-icon [icon]="faEye"></fa-icon>&nbsp;20
      </span>
        </div>    </div>
  </div>


</div>