
 /*navbar styling*/
 .max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
a:link 
{ 
text-decoration:none; 
} 
.navbar {
  top: 0px;
  padding: 23px 0;
  width: 98.78%;
  height: 47px;
  background-color: none;
  font-family: 'Ubuntu', sans-serif;

 }


.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 30px;
  color: black;
  font-weight: 600;
  
}
.navbar .menu {
  margin-left: -10px;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}


.navbar .menu li a{
  color: #777;
  font-size: 15.5px;
  font-weight: 550;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
color: crimson;
}
.navbar .menu li a:active {
 color: crimson;
}


.menu-btn{
 color: black;
 font-size: 20px;
 cursor: pointer;
 display: none;
}
.dropdown-toggle{
  background-color: white !important;
  color: #777;
  border: none;
  position: relative;
  font-size: 15px;

}
.dropdown{
margin-left: -40%;
font-size: 15px;

}
.dropdown ul li a{
  font-size: 15px;

}


@media(max-width:947px){
 .max-width{
padding:0 50px;
 }
 .menu-btn{
     display: block;
     z-index: 999;
     margin-left: 210%;

 }
 .menu-btn img{
     width: 30px;
 }
 .menu-btn i.active:before{
     content: \f00d;
 }
 .navbar .menu{
     position: absolute;
     height: 50vh;
     width: 50%;
     left: -150%;
     top: 0px;
     background: rgb(92, 90, 91);
     text-align:center;
     padding-top: 40px;
     transition: all 0.3s ease;
     z-index: 999;
     border-radius: 5%;
 }
 .navbar .menu.active{
 left: 0;
 }
 .navbar .menu li{
     display: block;
 }
 .navbar .menu li a{
     display: inline-block;
     margin: 10px 0;
     margin-right: 25px;
     font-size: 13px;
     color: white;
     text-align: center;
 }   
}


@media(max-width:690px){
 .max-width{
     padding: 0 10px;
     margin-left: -35px;
 }
/* .navbar{
     right: 3px;
 }*/
     }
     @media(max-width:991px){
        /* .navbar{
             right: 3px;
         }*/
         .max-width{
             padding:0 50px;
                 }
                 .dropdown{
                  margin-left: 0%;
                  }
     }

























































