.navbar{
    background-color: none !important;
    flex-wrap: wrap;
}
 .navbar-collapse{
    margin-left: 25%;
    position:relative;
}
.nav-item{
  text-align: center !important;
  justify-content: center;
  margin-left: 2%;
}
.nav-item a{
  font-size: 14px;
}
.collapse ul li a {
  color: #777;
}
.collapse ul li a:hover {
  color: black;
}
.dropdown-toggle{
    background-color: white !important;
    color: #777;
    border: none;
    position: relative;
}
.dropdown{
  position: relative;

}
.container{
  margin-left: 30%;
  margin-top: -30px;
  position: relative;
}
.btn{
  border-radius: 5px;
  border: solid 1px #999;
  float: right;
}
.dropdown .btn{
  float: none;
}
.btn{
  background-color: #Ea4c89;
  color: white;
}
.container #demo{
  width: 100%;
  float: right;
  margin-top: 10px;
}


/*filter content styling*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: none;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 0px;
  text-align: center;
  width: 100px;
}

/*respensive*/
@media(max-width:1200px){
  .dropdown .btn{
  float: left;
  }
}







