.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}
img{
    width: 380px;
    height: 200px;
    margin-top: 15px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 2px;

}
@media(max-width:768px){
    img{
        width: 100%;
    }
}